<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"/>
  <link rel="stylesheet" href="{% static "css/gscholar.css" %}"/>
  <script type="text/javascript" src="{% static "js/jsonQ.min.js"%}"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript">
    var G_SCHOLAR = {};

    function enableFindBtnLoading(){
      $('#findBtn').html('<span id="findBtnSpan" class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span > Loading...');
    }

    function disableFindBtnLoading(){
      $('#findBtn').html('Find!');
    }

    function findBntClick(){
      enableFindBtnLoading();
      getCites();
    }

    function getCites(){
      /* To pretend a human being, wait several seconds */
      if (G_SCHOLAR.PAPER_SECOND_EXHAUSTED){
        setTimeout('citesAjax(' + '1' + ')', 5000);
        return;
      } else{
        if (G_SCHOLAR.PAPER_FIRST_EXHAUSTED){
          setTimeout('citesAjax(' + '2' + ')', 5000);
          return;
        }
      }

      setTimeout('citesAjax(' + '1' + ')', 5000);
		  setTimeout('citesAjax(' + '2' + ')', 10000);
    }

    function citesAjax(paper_num){
      if (paper_num == 1){
        page = G_SCHOLAR.PAPER_FIRST_PAGE;
        paper_id = G_SCHOLAR.PAPER_FIRST_ID;
      }else{
        page = G_SCHOLAR.PAPER_SECOND_PAGE;
        paper_id = G_SCHOLAR.PAPER_SECOND_ID;
      }
      $.ajax({
        type: 'GET',
        url: 'api/cites',
        data: {'page': page, 'paper_id': paper_id},
        success: loadCites,
      });
		}

    function search_intersections(){
		  var paper_first_keys = Object.keys(G_SCHOLAR.PAPER_FIRST_CITES);
		  var paper_second_keys = Object.keys(G_SCHOLAR.PAPER_SECOND_CITES);
		  var intersectionsDiv = $("#intersectionsDiv");
		  var resultCountSpan = $("#resultCountSpan");
		  paper_first_keys.filter(function(n) {
        if ((paper_second_keys.indexOf(n) != -1) && (G_SCHOLAR.INTERSECTIONS.indexOf(n) == -1)){
          G_SCHOLAR.INTERSECTIONS.push(n);
          var title = G_SCHOLAR.PAPER_FIRST_CITES[n]["title"];
          var url = G_SCHOLAR.PAPER_FIRST_CITES[n]["url"];
          intersectionsDiv.append('<p><a href="' + url + '">' + title + '</a></p>');
          resultCountSpan.html('('+ G_SCHOLAR.INTERSECTIONS.length +')');
        }
      });
      if ((G_SCHOLAR.PAPER_FIRST_PAGE == G_SCHOLAR.PAPER_SECOND_PAGE) ||
           G_SCHOLAR.PAPER_SECOND_EXHAUSTED || G_SCHOLAR.PAPER_FIRST_EXHAUSTED){
        getCites();
      }
    }

    function loadCites(response){
      var result=jsonQ(response);
      G_SCHOLAR.RESULT = result;
      var cites = result.find("cites").value()[0];
      var paper_id = result.find("paper_id").value()[0];
      var citesLength = cites.length;
      var first_paper;

      if (paper_id==G_SCHOLAR.PAPER_FIRST_ID){
        first_paper = true;
        G_SCHOLAR.PAPER_FIRST_PAGE = G_SCHOLAR.PAPER_FIRST_PAGE + 1;
      } else{
        first_paper = false;
        G_SCHOLAR.PAPER_SECOND_PAGE = G_SCHOLAR.PAPER_SECOND_PAGE + 1;
      }

      if (citesLength === 0){
        if (first_paper){
          G_SCHOLAR.PAPER_FIRST_EXHAUSTED = true;
        }else{
          G_SCHOLAR.PAPER_SECOND_EXHAUSTED = true;
          if (!G_SCHOLAR.PAPER_FIRST_EXHAUSTED){
            getCites();
          }
        }
        if (G_SCHOLAR.PAPER_FIRST_EXHAUSTED && G_SCHOLAR.PAPER_SECOND_EXHAUSTED){
          disableFindBtnLoading();
        }
        return;
      }

      for (var i = 0; i < citesLength; i++) {
        var cite = cites[i];
        var cite_id = cite['id'];
        var cite_info = {'url': cite['url'], 'title': cite['title']};
        if (first_paper){
          G_SCHOLAR.PAPER_FIRST_CITES[cite_id] = cite_info;
        } else{
          G_SCHOLAR.PAPER_SECOND_CITES[cite_id] = cite_info;
        }
      }
      search_intersections();
    }

    $(document).ready(function(){
      $("#firstPaperForm").submit(function() {
        submitForm = $(this);
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: formAjaxSuccess,
			  });
      return false;
      });
      $("#secondPaperForm").submit(function() {
        submitForm = $(this);
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: formAjaxSuccess,
			  });
      return false;
      });
      function formAjaxSuccess(response){
        G_SCHOLAR.PAPER_FIRST_PAGE = 0;
        G_SCHOLAR.PAPER_SECOND_PAGE = 0;
        G_SCHOLAR.PAPER_FIRST_CITES = {};
        G_SCHOLAR.PAPER_SECOND_CITES = {};
        G_SCHOLAR.PAPER_FIRST_EXHAUSTED = false;
        G_SCHOLAR.PAPER_SECOND_EXHAUSTED = false;
        G_SCHOLAR.INTERSECTIONS = [];
        var paper=jsonQ(response);
        var title = paper.find("title").value();
        var url = paper.find("url").value();
        var excerpt = paper.find("excerpt").value();
        var id = paper.find("id").value()[0]; // value() returns list of all found ids
        paperDiv = submitForm.find('.paperTitle');
        paperDiv.html('<a href="' + url + '">' + title + '</a></br>');
        paperDiv.append(excerpt);
        if (submitForm.attr('id') == 'firstPaperForm'){
          G_SCHOLAR.PAPER_FIRST_ID = id;
        } else{
          G_SCHOLAR.PAPER_SECOND_ID = id;
        }

        // Clear intersections info
        var intersectionsDiv = $("#intersectionsDiv");
        intersectionsDiv.html('');
      }
    });
  </script>
  <title>Google scholar</title>
</head>
<body>
  <div class="container">
    <div class ="row">
      <div class="col-lg-6">
        <legend>Papers</legend>
        <div class="well bs-component">

            <form id="firstPaperForm" class="form-horizontal" method="GET" action="api/papers">
            <fieldset>
              <div class="form-group">
                <label class="control-label">Paper №1</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="firstPaperInput", name="phrase">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Submit</button>
                  </span>
                </div>
                <div class="paperTitle"></div>
              </div>
            </fieldset>
          </form>

          <form id="secondPaperForm" class="form-horizontal" method="GET" action="api/papers">
            <fieldset>
              <div class="form-group">
                <label class="control-label">Paper №2</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="secondPaperInput", name="phrase">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" type="submits"> Submit</button>
                  </span>
                </div>
                <div class="paperTitle"></div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="form-group">
          <div class="col-lg-13">
            <button id="findBtn" class="btn btn-success btn-lg btn-block" onclick="findBntClick()">Find!</button>
          </div>
        </div>

      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <legend>Results <span id="resultCountSpan" class="grey-span">(0)</span></legend>
          <div class="col-lg-10">
            <div id="intersectionsDiv"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>