<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.css" %}"/>
  <script type="text/javascript" src="{% static "js/jsonQ.min.js"%}"></script>
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script>
    $(document).ready(function(){
      $("#firstPaperForm").submit(function() {
        submitForm = $(this);
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: formAjaxSuccess,
			  });
      return false;
      });
      $("#secondPaperForm").submit(function() {
        submitForm = $(this);
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          success: formAjaxSuccess,
			  });
      return false;
      });
      function formAjaxSuccess(response){
        var paper=jsonQ(response);
        var title = paper.find("title").value();
        var url = paper.find("url").value();
        var excerpt = paper.find("excerpt").value();
        paperDiv = submitForm.find('.paperTitle');
        paperDiv.html('<a href="' + url + '">' + title + '</a></br>');
        paperDiv.append(excerpt);
      };
    });
  </script>
  <title>Google scholar</title>
</head>
<body>
  <div class="container">
    <div class="well bs-component">

        <form id="firstPaperForm" class="form-horizontal" method="GET" action="api/papers">
        <fieldset>
          <legend>Papers</legend>
          <div class="form-group">
            <label class="control-label">Paper №1</label>
            <div class="input-group">
              <input type="text" class="form-control" id="firstPaperInput", name="phrase">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submit">Submit</button>
              </span>
            </div>
            <div class="well well-lg paperTitle">
            </div>
          </div>
        </fieldset>
      </form>

      <form id="secondPaperForm" class="form-horizontal" method="GET" action="api/papers">
        <fieldset>
          <div class="form-group">
            <label class="control-label">Paper №2</label>
            <div class="input-group">
              <input type="text" class="form-control" id="secondPaperInput", name="phrase">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="submits">Submit</button>
              </span>
            </div>
            <div class="well well-lg paperTitle">
            </div>
          </div>
        </fieldset>
      </form>

    </div>
    <form class="form-horizontal">
    <div class="form-group">
      <div class="col-lg-10">
        <button type="submit" class="btn btn-success btn-lg btn-block">Find!</button>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10">
        <select multiple="" class="form-control">
          <option>1</option>
        </select>
      </div>
    </div>
  </form>
  </div>
</body>
</html>